/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

:root {
  --color-primary: #ffbe00;
  --font-family-p: "Poppins", sans-serif;
  --font-family-h: "Playfair Display", serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-family-p);
  overflow-x: hidden;
  color: #2e2e30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-h);
}

.btn {
  background-color: var(--color-primary);
  border-radius: 30px;
  padding: 10px;
}

.btn:hover,
.phone .nav-link:hover {
  background-color: #0b0320;
  color: #ffffff;
}

.btn-outline-dark {
  background-color: transparent;
}

/* navbar */
.navbar {
  box-shadow: 0px 0px 20px 0px #dddddd8c;
}
.navbar-nav .nav-link {
  margin-right: 15px;
}

.navbar-nav .nav-link {
  color: #0b0320;
}
.navbar-nav .nav-link:hover {
  color: var(--color-primary) !important;
}

/* homepage section */
.homepage-section {
  background-image: url("../img/banner-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.homepage-section .home {
  background-color: #ffffff;
  padding-bottom: 100px;
  opacity: 0.9;
}

.home-content h1 {
  font-size: 3em;
  letter-spacing: 2px;
  line-height: 1.3em;
  color: #474747;
}

.home-content {
  margin-top: 150px;
}

.img-box img {
  height: 350px;
  margin-left: 60px;
  margin-top: 150px;
}

/* about us section */
.img-box-about img {
  height: 300px;
  border-radius: 20px;
  border: 1px dashed #858383;
  padding: 10px;
}

.food img {
  margin-left: 100px;
  height: 120px;
  animation: review-animation 8s infinite linear;
}

@keyframes review-animation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50px, 0);
  }
  10% {
    transform: translate(0, 0);
  }
}

/* make image responsive on small device */
@media (max-width: 600px) {
  .home-content {
    margin-top: 40px;
  }
  .img-box img {
    display: none;
  }

  /* .img-box-about img {
      height: 200px;
  } */
}
